
.line-spacer {
    text-align: center;
    margin: auto;
    vertical-align: middle;
    height: 1px;
}

.path-spacer {
    fill: none;
    stroke:var(--blue-2);
    stroke-width: 2px;
    opacity: 50%;
}