@import 'src/styles';

#navbar {
    display: flex;
    position: relative;
    height: 2rem;
    padding: .75rem 1rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: $b-3;
    

    #navbar-item {
        margin: auto;
        color: $w-1;

        button {
            background: none;
            border: none;
            color: $w-1;;
            text-decoration: none;
            cursor: pointer;
            padding: 0;
            
            &.disabled-button {
                pointer-events: none;
            }
        }
        
        button:hover:not(.disabled-button) {
        
        }

        &.disabled {
            pointer-events: none;
            opacity: .5;
        }
    }
}




